.main-menu, .side-menu, .main-tabs, .mw-side-menu, footer .social, .main-menu a, #main-menu-mobile a, .side-menu a, .aside-menu .icon, .btn-group, .side-tabs, .ds-chosen, .ds-choose .dsc-item, header, #main-menu-mobile .swiper-navigation, .profile-info, .aside-menu a, .mw-header, .tc-header, .tc-right, .rp-company-select, .tcw-side-tabs, footer, .c-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  
  .main-menu, .side-menu, .main-tabs, .mw-side-menu, footer .social {
    list-style: none; }
  
  .main-menu a, #main-menu-mobile a, .side-menu a, .aside-menu .icon {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  
  .burger, .btn {
    border: 0; }
  
  footer a[href^='tel:'] {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  
  * {
    margin: 0;
    padding: 0;
    outline: none; }
  
  body {
    font-family: "PT Sans", sans-serif;
    font-size: 15px; }
  
  button {
    cursor: pointer; }
  
  h2 {
    font-family: 'gb';
    font-size: 24px;
    margin-bottom: -10px; }
  
  h3 {
    font-size: 16px; }
  
  table {
    width: 100%;
    border-collapse: collapse; }
    table thead {
      background-color: #e9eff4; }
    table th, table td {
      padding: 5px;
      border: 1px solid #e9eff4;
      height: 30px; }
  
  .burger span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #a3afb9; }
    .burger span:not(:last-of-type) {
      margin-bottom: 5px; }
  
  .align-right {
    text-align: right; }
  
  .hr {
    height: 1px;
    opacity: .4;
    background-color: #a3afb9;
    margin: 0 0 15px; }
  
  .hr-v {
    height: 24px;
    width: 1px;
    background-color: #e7e7e7;
    margin: 0 10px; }
  
  .centered {
    text-align: center; }
  
  input[type="text"] {
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    height: 29px;
    font-size: 14px;
    border-radius: 3px;
    padding: 0 11px; }
  
  .btn-group {
    font-size: 0; }
  
  .btn-group .btn:not(:last-of-type) {
    margin-right: 10px; }
  
  .btn {
    color: #3c3c3c;
    padding: 6px 13px;
    background: -webkit-gradient(linear, left bottom, left top, from(#e9eff4), to(rgba(233, 239, 244, 0)));
    background: -o-linear-gradient(bottom, #e9eff4 0%, rgba(233, 239, 244, 0) 100%);
    background: linear-gradient(to top, #e9eff4 0%, rgba(233, 239, 244, 0) 100%);
    border: 1px solid #d0d0d0;
    border-radius: 3px; }
  
  .btn.active, .btn:hover:not(:disabled) {
    background-color: #e9eff4; }
  
  .btn:disabled {
    color: #d0d0d0;
    cursor: unset; }
  
  .btn-couple {
    font-size: 0; }
    .btn-couple .btn {
      border-radius: 0; }
    .btn-couple .btn:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .btn-couple .btn:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 0; }
  
  .ml-a {
    margin-left: auto; }
  
  .side-tabs {
    padding: 0 5px; }
    .side-tabs .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0; }
      .side-tabs .btn:not(:last-of-type) {
        margin-right: 3px; }
  
  .tip-tip {
    position: relative; }
  
  .tip-container {
    position: absolute;
    padding: 8px 12px;
    top: 30px;
    left: 50%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 180px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: #70ad47;
    color: #fff;
    z-index: 2;
    -webkit-animation: tip-hello .15s linear;
            animation: tip-hello .15s linear;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  
  @-webkit-keyframes tip-hello {
    0% {
      -webkit-transform: translate(-50%, 0) scale(0);
              transform: translate(-50%, 0) scale(0); }
    100% {
      -webkit-transform: translate(-50%, 0) scale(1);
              transform: translate(-50%, 0) scale(1); } }
  
  @keyframes tip-hello {
    0% {
      -webkit-transform: translate(-50%, 0) scale(0);
              transform: translate(-50%, 0) scale(0); }
    100% {
      -webkit-transform: translate(-50%, 0) scale(1);
              transform: translate(-50%, 0) scale(1); } }
  
  .docs-select {
    width: 100%;
    height: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    position: relative;
    cursor: pointer; }
    .docs-select:after {
      content: '';
      display: block;
      position: absolute;
      top: -webkit-calc(50% - 3px);
      top: calc(50% - 3px);
      right: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4.5px 0 4.5px;
      border-color: #bfbfc0 transparent transparent transparent; }
    .docs-select:hover .ds-choose {
      display: block; }
  
  .ds-chosen {
    padding: 5px 0 5px 10px; }
    .ds-chosen img {
      width: 20px;
      margin-right: 7px; }
    .ds-chosen span {
      font-weight: 600;
      color: #000; }
  
  .ds-choose {
    position: absolute;
    display: none;
    top: 100%;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #d4d4d4;
    border-right: 3px;
    z-index: 2; }
    .ds-choose .dsc-item {
      padding: 10px; }
      .ds-choose .dsc-item img {
        margin-right: 10px; }
      .ds-choose .dsc-item p {
        font-weight: 600; }
      .ds-choose .dsc-item small {
        color: #999; }
      .ds-choose .dsc-item:not(:last-of-type) {
        border-bottom: 1px solid #e8e8e8; }
      .ds-choose .dsc-item:hover {
        background-color: #f7f7f7; }
  
  header {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #70ad47;
    height: 80px;
    padding: 0 20px; }
  
  .logo {
    display: block;
    margin-right: 30px; }
    .logo .logo-short {
      display: none; }
  
  .main-menu li {
    text-align: center; }
  
  .main-menu a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
    width: 110px;
    color: #fff;
    text-decoration: none; }
  
  .main-menu span {
    display: block; }
  
  .main-menu i {
    font-size: 32px;
    margin-bottom: 6px; }
  
  .main-menu li.active a, .main-menu a:hover {
    background-color: #fff; }
    .main-menu li.active a span, .main-menu a:hover span {
      color: #3c3c3c; }
    .main-menu li.active a i, .main-menu a:hover i {
      color: #70ad47; }
  
  #main-menu-mobile {
    display: none;
    margin: 0 20px; }
    #main-menu-mobile .swiper-slide {
      text-align: center; }
    #main-menu-mobile a {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 80px;
      width: 110px;
      color: #fff;
      text-decoration: none; }
    #main-menu-mobile span {
      display: block; }
    #main-menu-mobile i {
      font-size: 32px;
      margin-bottom: 6px; }
    #main-menu-mobile li.active a, #main-menu-mobile a:hover {
      background-color: #fff; }
      #main-menu-mobile li.active a span, #main-menu-mobile a:hover span {
        color: #3c3c3c; }
      #main-menu-mobile li.active a i, #main-menu-mobile a:hover i {
        color: #70ad47; }
    #main-menu-mobile .swiper-navigation {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0; }
    #main-menu-mobile .s-b {
      z-index: 2; }
      #main-menu-mobile .s-b span {
        display: block;
        width: 0;
        height: 0;
        border-style: solid; }
      #main-menu-mobile .s-b.prev span {
        border-width: 4.5px 6px 4.5px 0;
        border-color: transparent #b7d6a3 transparent transparent; }
      #main-menu-mobile .s-b.prev:hover {
        border-color: transparent #70ad47 transparent transparent; }
      #main-menu-mobile .s-b.next span {
        border-width: 4.5px 0 4.5px 6px;
        border-color: transparent transparent transparent #b7d6a3; }
      #main-menu-mobile .s-b.next:hover {
        border-color: transparent transparent transparent #70ad47; }
  
  .side-menu {
    margin-right: 20px; }
    .side-menu li:not(:last-of-type) {
      margin-right: 14px; }
    .side-menu a {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      text-decoration: none;
      background-color: #8dbd6c;
      color: #fff; }
      .side-menu a:hover {
        background-color: #fff;
        color: #8dbd6c; }
  
  .profile-info {
    color: #fff; }
    .profile-info img {
      margin-left: 16px; }
    .profile-info span {
      display: block; }
  
  aside {
    padding: 15px 10px;
    background-color: #e9eff4;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 2;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear; }
    aside button {
      margin: 0 0 15px;
      padding-left: 16px; }
    aside.active {
      width: 300px; }
      aside.active .aside-menu span {
        display: unset; }
  
  .aside-menu {
    list-style: none;
    padding: 0 10px;
    overflow: hidden; }
    .aside-menu .icon {
      width: 36px;
      height: 36px;
      min-width: 36px;
      background-color: #5b9bd5;
      border-radius: 50%; }
      .aside-menu .icon i {
        color: #fff; }
    .aside-menu a {
      text-decoration: none;
      color: #000; }
    .aside-menu span {
      margin-left: 17px;
      display: none;
      white-space: nowrap; }
    .aside-menu li {
      margin-bottom: 15px; }
    .aside-menu li:hover .icon {
      background-color: #61b1fa; }
    .aside-menu.green .icon {
      background-color: #70ad47; }
    .aside-menu.green li:hover .icon {
      background-color: #77c642; }
  
  main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-height: 775px;
    padding-left: 100px;
    padding-right: 20px; }
  
  .main-wrapper {
    padding-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  
  .mw-header {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  
  .main-tabs {
    position: relative; }
    .main-tabs li {
      padding: 15px 0; }
    .main-tabs li:not(:last-of-type) {
      margin-right: 30px; }
    .main-tabs a {
      display: block;
      text-decoration: none;
      color: #000; }
    .main-tabs .mt-underline {
      position: absolute;
      height: 4px;
      width: 119px;
      left: 0;
      bottom: -1px;
      background-color: #70ad47;
      -webkit-transition: left .3s linear, width .3s linear;
      -o-transition: left .3s linear, width .3s linear;
      transition: left .3s linear, width .3s linear; }
    .main-tabs .mt-more {
      display: none;
      position: relative;
      padding-right: 12px;
      z-index: 2; }
      .main-tabs .mt-more .mt-more-wrapper {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border: 1px solid #d4d4d4;
        background-color: #ffffff;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 17px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        z-index: 2; }
        .main-tabs .mt-more .mt-more-wrapper a:not(:last-of-type) {
          margin-bottom: 15px; }
        .main-tabs .mt-more .mt-more-wrapper a:hover {
          color: #70ad47; }
        .main-tabs .mt-more .mt-more-wrapper i {
          margin-right: 5px; }
      .main-tabs .mt-more:hover .mt-more-wrapper {
        display: block; }
      .main-tabs .mt-more:after {
        content: '';
        display: block;
        position: absolute;
        top: -webkit-calc(50% - 2px);
        top: calc(50% - 2px);
        right: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 3.5px 0 3.5px;
        border-color: #3c3c3c transparent transparent transparent; }
  
  .mw-side-menu li:not(:last-of-type) {
    margin-right: 14px; }
  
  .mw-side-menu li:not(.disabled) a:hover {
    color: #70ad47; }
  
  .mw-side-menu li.disabled {
    opacity: .25; }
    .mw-side-menu li.disabled a {
      cursor: unset; }
  
  .mw-side-menu a {
    color: #3c3c3c; }
  
  .tab-content {
    display: none; }
  
  .tab-content.active {
    display: block; }
  
  .tc-header {
    margin-bottom: 20px; }
    .tc-header .btn-couple {
      margin-right: 20px; }
  
  .tc-fav {
    color: #d0d0d0;
    margin-left: 15px;
    margin-bottom: -4px;
    display: block; }
  
  .tc-fav:hover, .tc-fav.active {
    color: #5b9bd5; }
  
  .tc-right .btn:first-of-type, .tc-right input {
    margin-right: 10px; }
  
  .right-panel {
    padding-top: 8px;
    width: 355px;
    max-width: 20%;
    padding-bottom: 20px; }
    .right-panel .tab-content {
      background-color: #e9eff4;
      padding: 20px; }
      .right-panel .tab-content h3 {
        margin-bottom: 20px;
        font-family: 'gb'; }
      .right-panel .tab-content .events-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        color: #3c3c3c;
        font-size: 14px;
        margin-bottom: 25px; }
        .right-panel .tab-content .events-item .timing {
          border-left: 2px solid #5b9bd5;
          padding-left: 10px;
          margin-right: 15px; }
          .right-panel .tab-content .events-item .timing span {
            display: block; }
        .right-panel .tab-content .events-item .gray {
          display: block;
          color: #a3afb9; }
    .right-panel .menu-expand {
      display: none; }
  
  .rp-company-select {
    margin-bottom: 10px; }
    .rp-company-select > span {
      color: #a1a1a1;
      margin-right: 10px; }
  
  .calendar {
    margin-bottom: 15px; }
  
  .right-panel-mobile {
    display: none;
    padding-top: 8px;
    padding-bottom: 20px;
    position: relative; }
    .right-panel-mobile .rp-company-select {
      width: 48px; }
      .right-panel-mobile .rp-company-select > span {
        display: none; }
    .right-panel-mobile .docs-select {
      height: auto; }
      .right-panel-mobile .docs-select:after {
        right: 7px; }
    .right-panel-mobile .ds-chosen {
      padding-left: 5px; }
      .right-panel-mobile .ds-chosen span {
        display: none; }
    .right-panel-mobile .ds-choose {
      width: 266px;
      right: -webkit-calc(100% - 50px);
      right: calc(100% - 50px); }
    .right-panel-mobile .tc-wrapper.active {
      display: block; }
    .right-panel-mobile .tab-content.active {
      display: block; }
    .right-panel-mobile .side-tabs {
      display: block;
      padding: 0; }
      .right-panel-mobile .side-tabs .btn {
        display: block;
        width: 100%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom: 1px solid #d0d0d0; }
      .right-panel-mobile .side-tabs .btn:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 5px; }
      .right-panel-mobile .side-tabs .menu-expand {
        display: block; }
    .right-panel-mobile .tc-wrapper {
      display: none;
      background-color: #e9eff4;
      padding: 20px;
      position: absolute;
      width: 315px;
      height: -webkit-calc(100% - 45px);
      height: calc(100% - 45px);
      top: 45px;
      right: -20px; }
      .right-panel-mobile .tc-wrapper h3 {
        margin-bottom: 20px;
        font-family: 'gb'; }
      .right-panel-mobile .tc-wrapper .events-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        color: #3c3c3c;
        font-size: 14px;
        margin-bottom: 25px; }
        .right-panel-mobile .tc-wrapper .events-item .timing {
          border-left: 2px solid #5b9bd5;
          padding-left: 10px;
          margin-right: 15px; }
          .right-panel-mobile .tc-wrapper .events-item .timing span {
            display: block; }
        .right-panel-mobile .tc-wrapper .events-item .gray {
          display: block;
          color: #a3afb9; }
  
  .tcw-side-tabs {
    margin-bottom: 18px; }
    .tcw-side-tabs .btn {
      width: 48px; }
    .tcw-side-tabs .btn.active {
      -webkit-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.4);
              box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.4); }
  
  footer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #8dbd6c;
    color: #fff;
    padding: 40px;
    font-size: 13px;
    font-family: 'gr'; }
    footer .logo {
      margin-bottom: 26px; }
    footer p:last-of-type {
      margin-top: 20px; }
    footer ul.middle-menu {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      list-style: none; }
      footer ul.middle-menu li:not(:nth-of-type(4n)) {
        margin-bottom: 15px; }
    footer h2 {
      font-size: 16px;
      margin-bottom: 22px;
      font-weight: 400; }
    footer a {
      color: #fff; }
      footer a:hover {
        text-decoration: none; }
    footer a[href^='tel:'] {
      font-size: 30px;
      margin-bottom: 13px;
      text-decoration: none; }
    footer .ru-free {
      display: block;
      margin-bottom: 30px; }
    footer .social {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-top: 30px; }
      footer .social li:not(:first-of-type) {
        font-size: 16px; }
      footer .social li:not(:last-of-type) {
        margin-right: 30px; }
  
  .calendar {
    color: #3c3c3c;
    font-size: 16px; }
    .calendar .hr {
      margin-bottom: 15px;
      margin-top: 10px; }
  
  .c-header {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .c-header button {
      border: 0;
      background-color: transparent;
      padding: 10px; }
    .c-header .c-current {
      font-family: 'gb';
      text-transform: capitalize; }
  
  .c-grid .headers, .c-grid .body {
    display: grid;
    grid-template-columns: repeat(7, 1fr); }
  
  .c-grid .day-header, .c-grid .c-current {
    text-align: center; }
  
  .c-grid .c-current {
    padding: 25% 0;
    position: relative; }
  
  .c-grid .last-month, .c-grid .next-month {
    color: #a3afb9; }
  
  .c-grid .event:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    left: -webkit-calc(50% - 2px);
    left: calc(50% - 2px);
    width: 4px;
    height: 4px;
    background-color: #5b9bd5; }
  
  .c-current:not(.last-month):not(.next-month):hover {
    background-color: #5b9bd5;
    color: #fff;
    cursor: pointer; }
    .c-current:not(.last-month):not(.next-month):hover.event:after {
      background-color: #fff; }